@model PaginatedList<TpePrmcyWms.Models.DOM.DrugInfo>
@using TpePrmcyWms.Models.Unit.Back
@using TpePrmcyWms.Models.Service
@{
    
}

<div class="ListPage_QueryArea">
    <div class="ListPage_QueryPanel">
        <form asp-action="List" method="post">
            <input type="hidden" name="pageNum" id="pageNum" value="@(Model.PageIndex)" />
            <input type="hidden" name="sortOrder" id="sortOrder" value="@(ViewData["sortOrder"])" />
            <div class="form-actions no-color">
                藥品代碼 / 名稱：<input type="text" name="qKeyString" value="@ViewData["qKeyString"]" />
                <input type="submit" id="btn_submit" value="查詢" class="btn btn_InputSubmit" /> |
                <a asp-action="List">清除</a>
            </div>
        </form>
    </div>

    <div class="ListPage_ListPanel">
        <table class="table">
            <thead>
                <tr>
                    <th width="20%">
                        <div class="btn_SortOrderCtrl" onclick="goListQuery('sortOrder=DrugCode')">
                            @Html.DisplayNameFor(model => model[0].DrugCode)
                        </div>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].DrugName)
                    </th>
                    <th class="Wd100">
                        贈藥
                    </th>
                    <th class="Wd100">
                        臨採
                    </th>
                    <th class="Wd100">
                        @if (ViewBag.OperateAuths["Creatable"])
                        {
                            <span class="CtrlBtn btn_goAdd" onclick="EditRecord(0)">𝒩𝑒𝓌</span>
                        }
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.DrugCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DrugName)
                        </td>
                        <td class="Wd100">
                            <span class="CtrlBtn " onclick="EditFreeTrial(@item.FID)">✔</span>
                        </td>
                        <td class="Wd100">
                            <span class="CtrlBtn " onclick="EditAdHocProc(@item.FID)">✔</span>
                        </td>
                        <td class="Wd100">
                            <div style="min-width:79px;width:100%;align-items:inherit;">
                                <span class="CtrlBtn btn_goEdit" onclick="EditRecord(@item.FID)">✎</span>
                                    @if (ViewBag.OperateAuths["Deletable"])
                                    {
                                    <span class="CtrlBtn btn_goDelete" onclick="confirmWin('是否確定刪除?', (confirmed)=>{ if (confirmed) { DeleteRecord(@item.FID); }; }) ">✘</span>
                                    }
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="ListPage_PagesPanel">
        @Html.Raw(Model.PageTagHtml)
    </div>
</div>

<div class="ListPage_EditArea Hidden">
    
</div>


<script>
    //排序鈕特效
    sortingAddClass("@(ViewData["sortOrder"])");

    //編輯鈕
    function EditRecord(fid) {
        $(".ListPage_EditArea").load("@Url.Action("ListEdit")?fid=" + fid, function () {
            $(".ListPage_QueryArea").hide();
            $(".ListPage_EditArea").show();
        })
    }
    function EditFreeTrial(fid) {
        $(".ListPage_EditArea").load("@Url.Action("SubEditFreeTrial")?fid=" + fid, function () {
            $(".ListPage_QueryArea").hide();
            $(".ListPage_EditArea").show();
        })
    }
    function EditAdHocProc(fid) {
        $(".ListPage_EditArea").load("@Url.Action("SubEditAdHocProc")?fid=" + fid, function () {
            $(".ListPage_QueryArea").hide();
            $(".ListPage_EditArea").show();
        })
    }

    //刪檔鈕
    function DeleteRecord(qfid) {
        //let PostData = { __RequestVerificationToken: GetToken(), fid:5 }
        let DeletePost = new AjaxJsonPostor("@Url.Action("ListDelete")", qfid);
        DeletePost.SuccessCallback = function (result) {
            AlertWin(result.message);
            if (result.code == 0) { $("#btn_submit").click(); }
        }
        DeletePost.ErrorCallback = function () {
            AlertWin("送出失敗");
        }
        DeletePost.Post();
    }
    //同步醫院資料庫
    function goQueryApi() {     
        let qstring = $("#DrugCode").val();
        if (qstring == "") { AlertWin("請輸入藥品代碼"); return false;}
        $(".ListCtrlPanel").hide();
        let Poster = new AjaxJsonPostor("@Url.Action("ListSyncHsptlApi")", qstring);
        Poster.SuccessCallback = function (result) {
            //console.log(JSON.stringify(result))
            if (result.code == "0") {
                AlertWin(result.message);
                CancelEdit();
                EditRecord(result.returnData);
            }
            else {
                AlertWin(result.message);
                $(".ListCtrlPanel").show();
            }
        }
        Poster.ErrorCallback = function () {
            AlertWin("送出失敗");
            $(".ListCtrlPanel").show();
        }
        Poster.Post();
    }


</script>
