@model List<TpePrmcyWms.Models.DOM.DrugLimitedTo>
@using Newtonsoft.Json;
@using TpePrmcyWms.Models.Service
@using TpePrmcyWms.Models.DOM
@{
    Layout = null;
    DrugInfo drug = ViewBag.drug;
    int cnter = 0;
}
<div id="CancelEdit" onclick="CancelEdit()">✘</div>
<h4>@(drug.DrugName)</h4>
<form asp-action="ListEdit">
    <div class="EditPage">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@(drug.FID)" />

        @foreach(DrugLimitedTo item in Model)
        {
            cnter++;
            string lastclass = cnter == Model.Count ? "LastGroup" : "";
            <div class="form-group @(lastclass)">
                <label class="control-label head">贈藥@(cnter)</label>
                <div style="display:flex;align-items: center;" class="innerdiv" id="@(item.FID)">
                    <label asp-for="@(item.TargetPatient)" class="control-label"></label>
                    <input asp-for="@(item.TargetPatient)" class="form-control" style="width:120px;" onkeyup="this.value=InputOnlyNumber(this.value)" />
                    &nbsp;&nbsp;&nbsp;
                    <label asp-for="@(item.Qty)" class="control-label"></label>
                    <input asp-for="@(item.Qty)" class="form-control w3-right-align" type="number" value="@(Math.Round(item.Qty??0,0))" max="9999" style="width:90px;" />
                </div>
                <span asp-validation-for="@(item.TargetPatient)" class="text-danger" ></span>
            </div>
        }
        
        <div class="form-group btnplace">
            <input type="button" onclick="CopyNewGroup()" value="✚" class="CtrlBtn" />
        </div>

	</div>
    <div class="ListCtrlPanel">
        @if (ViewBag.OperateAuths["Updatable"] || ViewBag.OperateAuths["Creatable"])
		{
            <input type="button" onclick="SaveFreeTrialPost()" value="確認" class="CtrlBtn" />
		}
	</div>
</form>

    



<script>
    //送出鈕
    function SaveFreeTrialPost() {
        $(".EditPage .CtrlBtn").hide();
        let EditModel = @Html.Raw(JsonConvert.SerializeObject(Model));
        EditModel = EditModel.filter(e => e.FID != 0);
        let error = false;
        $("div.innerdiv").each(function () {
            let id = $(this).attr("id");
            let TargetPatient = $(this).find("input#item_TargetPatient").val();
            let Qty = $(this).find("input#item_Qty").val();
            if (TargetPatient != "" && !TargetPatient.match(PatientNoReg)) { AlertWin("病歷號[" + TargetPatient + "]格式錯誤!"); error = true; return false; }
            if (id != "0") {
                let rec = EditModel.find(x => x.FID == id)
                rec.TargetPatient = TargetPatient;
                rec.Qty = Qty;
            }
            else { EditModel.push({ "FID": id, "TargetPatient": TargetPatient, "Qty": Qty, "DrugFid": @(drug.FID) }); }

        })
        if (error) { $(".EditPage .CtrlBtn").show(); return false; }
        let data = { fid: @(drug.FID), list: EditModel }
        //console.log(JSON.stringify(data));
        let goPost = new AjaxJsonPostor("@Url.Action("SubEditFreeTrial")", data);
        goPost.SuccessCallback = function (result) {
            if (result.code == 0) {
                AlertWin(result.returnData);
                CancelEdit();
            }
            else { AlertWin(result.returnData); $(".EditPage .CtrlBtn").show(); }
        }
        goPost.Post();
    }
    

    //取消鈕
    function CancelEdit() {
        $(".ListPage_EditArea").hide();
        $(".ListPage_QueryArea").show();
    }
    
    $(document).ready(function () {
        $("input[list]").dblclick(function () {
            $(this).val('');
        });
        
    });
    
    //複製新的form
    function CopyNewGroup(){
        $(".form-group.LastGroup").clone().removeClass("LastGroup").addClass("iamnew").appendTo(".EditPage")
            .find('.control-label.head').text('贈藥' + ($(".form-group").length - 1));        
        $(".iamnew").find("div.innerdiv").attr("id","0");
        $(".iamnew").find("div.innerdiv > input#item_TargetPatient").val("");
        $(".iamnew").find("div.innerdiv > input#item_Qty").val("0");
        $(".iamnew").removeClass("iamnew");

        let list = $(".form-group");
        let newNode = $(".form-group").get(list.length-2);
        list.insertBefore(newNode, list.last);
    }
</script>

