@model PaginatedList<TpePrmcyWms.Models.DOM.StockBill>
@using TpePrmcyWms.Models.Unit.Back
@using TpePrmcyWms.Models.Service
@using Newtonsoft.Json;
@{

}

<div class="ListPage_QueryArea">
    <div class="ListPage_QueryPanel">
        <form enctype="multipart/form-data" asp-action="InvntDrawer" method="post">
            <input type="hidden" name="pageNum" id="pageNum" value="@(Model.PageIndex)" />
            <input type="hidden" name="sortOrder" id="sortOrder" value="@(ViewData["sortOrder"])" />
            <div class="form-actions no-color">
                藥品代碼 / 中英名稱：<input type="text" name="qKeyString" value="@ViewData["qKeyString"]" />
                <input type="submit" id="btn_submit" value="查詢" class="btn btn_InputSubmit" /> |
                <input type="button" id="btn_submit2" value="下載" class="btn btn_InputSubmit" onclick="submitDownload()" /> |
                
            </div>
        </form>
    </div>

    <div class="ListPage_ListPanel">
        <table class="table">
            <thead>
                <tr>
                    <th width="20%">
                        <div class="btn_SortOrderCtrl" onclick="goListQuery('sortOrder=DrugCode')">
                            @Html.DisplayNameFor(model => model[0].FID)
                        </div>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].CbntFid)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].DrugCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Qty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].TargetQty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].BillType)
                    </th>
@*                     <th class="Wd100">
                        贈藥
                    </th>
                    <th class="Wd100">
                        臨採
                    </th>
                    <th class="Wd100">
                        @if (ViewBag.OperateAuths["Creatable"])
                        {
                            <span class="CtrlBtn btn_goAdd" onclick="EditRecord(0)">𝒩𝑒𝓌</span>
                        }
                    </th> *@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="20%">
                            @Html.DisplayFor(modelItem => item.FID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CbntFid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DrugCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Qty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TargetQty)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BillType)
                        </td>
@*                         <td class="Wd100">
                            <span class="CtrlBtn " onclick="EditFreeTrial(@item.FID)">✔</span>
                        </td>
                        <td class="Wd100">
                            <span class="CtrlBtn " onclick="EditAdHocProc(@item.FID)">✔</span>
                        </td>
                        <td class="Wd100">
                            <div style="min-width:79px;width:100%;align-items:inherit;">
                                <span class="CtrlBtn btn_goEdit" onclick="EditRecord(@item.FID)">✎</span>
                                @if (ViewBag.OperateAuths["Deletable"])
                                {
                                    <span class="CtrlBtn btn_goDelete" onclick="confirmWin('是否確定刪除?', (confirmed)=>{ if (confirmed) { DeleteRecord(@item.FID); }; }) ">✘</span>
                                }
                            </div>

                        </td> *@
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="ListPage_PagesPanel">
        @Html.Raw(Model.PageTagHtml)
    </div>
</div>

<div class="ListPage_EditArea Hidden">
</div>


<script>
    //排序鈕特效
    sortingAddClass("@(ViewData["sortOrder"])");

    //編輯鈕
    function EditRecord(fid) {
        $(".ListPage_EditArea").load("@Url.Action("ListEdit")?fid=" + fid, function () {
            $(".ListPage_QueryArea").hide();
            $(".ListPage_EditArea").show();
        })
    }
    function EditFreeTrial(fid) {
        $(".ListPage_EditArea").load("@Url.Action("SubEditFreeTrial")?fid=" + fid, function () {
            $(".ListPage_QueryArea").hide();
            $(".ListPage_EditArea").show();
        })
    }
    function EditAdHocProc(fid) {
        $(".ListPage_EditArea").load("@Url.Action("SubEditAdHocProc")?fid=" + fid, function () {
            $(".ListPage_QueryArea").hide();
            $(".ListPage_EditArea").show();
        })
    }
    //送出鈕
    let orderCode = '123';
    function goSubmit() {
        $(".btn").hide();
        //let EditModel = Html.Raw(JsonConvert.SerializeObject(orderCode));
        SubmitFormModel("@Url.Action("ReportDownload", "ReportGenerate")", orderCode, function () {
            $("#btn_submit").click();
        }, function () {
            $(".btn").show();
        });
    }
    //刪檔鈕
    function DeleteRecord(qfid) {
        //let PostData = { __RequestVerificationToken: GetToken(), fid:5 }
        let DeletePost = new AjaxJsonPostor("@Url.Action("ReportDownload", "ReportGenerate")", 12);
        DeletePost.SuccessCallback = function (result) {
            AlertWin(result.message);
            if (result.code == 0) { $("#btn_submit").click(); }
        }
        DeletePost.ErrorCallback = function () {
            //AlertWin("送出失敗");
        }
        DeletePost.Post();
    }

    function submitDownload() {
        fetch('@Url.Action("ReportDownload", "ReportGenerate")', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ orderCode: 123 }) // 這裡是你的 orderCode
        })
            .then(response => {
                if (response.ok) {
                    return response.blob(); // 期待文件下載
                }
                throw new Error('下載失敗');
            })
            .then(blob => {
                const url = window.URL.createObjectURL(blob);
                const a = document.createElement('a');
                a.href = url;
                a.download = 'your-file.xlsx';  // 這裡指定文件名
                document.body.appendChild(a);
                a.click();
                a.remove();
            })
            .catch(error => {
                console.error(error);
            });
    }

    //同步醫院資料庫
    function goQueryApi() {
        let qstring = $("#DrugCode").val();
        if (qstring == "") { AlertWin("請輸入藥品代碼"); return false; }
        $(".EditPage .btn").hide();
        let Poster = new AjaxJsonPostor("@Url.Action("ListSyncHsptlApi")", qstring);
        Poster.SuccessCallback = function (result) {
            //console.log(JSON.stringify(result))
            if (result.code == "0") {
                AlertWin(result.message);
                CancelEdit();
                EditRecord(result.returnData);
            }
            else {
                AlertWin(result.message);
            }
        }
        Poster.ErrorCallback = function () {
            AlertWin("送出失敗");
            $(".EditPage .btn").show();
        }
        Poster.Post();
    }


</script>
