@model TpePrmcyWms.Models.Unit.Front.QryBatchDrawers;
@using TpePrmcyWms.Models.Service;
@using TpePrmcyWms.Models.Unit;
@using Newtonsoft.Json;
@{
    Layout = null;

    string qDrugCode = Model.DrugCode;
}
@if (!Model.isValid && false)
{
    <script type="text/javascript">
        AlertWin('@(Model.InvalidMsg)');
    </script>
}


<div class="OperDrugInStoreArea">
    <table class="w3-table-all">
        <tr>
            <td width="140">@(qDrugCode)</td>
            <td colspan="2" style="font-size:18px;">@(Model.stockBill.DrugName)</td>
            <td width="80">
                <img id="@(qDrugCode)_doorOpen" class="Hidden" src="~/Images/SystemUse/cabinetOpen.jpg" width="43" height="39" />
                <input type="button" id="@(qDrugCode)_close" class="w3-right" value="關閉" />
            </td>
        </tr>
        @if (Model.isValid)
        {
            <tr>
                <td colspan="4">
                    <div id="@(qDrugCode)_step0">
                        <p style="color:red; font-size: 30px;">排程等待中...</p>
                    </div>
                    <div id="@(qDrugCode)_step1" class="stepbox Hidden">
                        @foreach (var ds in Model.drGridinfo)
                        {
                            string BatchNo = ds.gridBatches.Count > 0 ? ds.gridBatches[0].BatchNo : "";
                            string addclass = ds.StockQty < Model.stockBill.TargetQty ? "NotEnough w3-right" : "";
                            <div class="BtnStorage @(addclass)" DrawFid="@(ds.DrawFid)" style="height:110px;">
                                <p class="no">@(ds.DrawerNo)號</p>
                                <p>@(BatchNo)&nbsp;</p>
                            </div>
                        }

                    </div>
                    <div id="@(qDrugCode)_step2" class="stepbox Hidden">
                        <div class="stepgrid">
                            <div id="@(qDrugCode)_OpenLedColor" class="BtnStorage">
                                <span id="@(qDrugCode)_step2_BoxName"></span>
                            </div>
                            <div>
                                <div id="QtyBox">
                                    取藥數量：
                                    <input type="text" id="takeqty_@(qDrugCode)" value="@(Math.Round(Model.stockBill.TargetQty, 0))" size="3" class="w3-right-align" onkeyup="this.value=InputOnlyNumber(this.value)" maxlength="5" />
                                </div>
                                <div id="BatchNoBox"></div>
                            </div>
                            <div>
                                <input type="button" id="takeqty_@(qDrugCode)_done" class="w3-right Hidden" value="下一步" />
                            </div>

                        </div>

                    </div>
                    <div id="@(qDrugCode)_step3" class="stepbox Hidden">
                        <div class="stepgrid">
                            <div class="BtnStorage NotEnough">
                                <span id="@(qDrugCode)_step3_BoxName"></span>
                            </div>
                            <div class="w3-left stepbox_inner">
                                結存數量：
                                <input type="text" id="stocktake_@(qDrugCode)" value="" size="2" class="w3-right-align" onkeyup="this.value=InputOnlyNumber(this.value)" maxlength="5" />
                                @if (Model.PackageCnt > 0)
                                {
                                    @:<input type="button" id="stocktake_@(qDrugCode)_package" class="w3-right" value="單位" />
                                }
                            </div>
                            <div>
                                <input type="button" id="stocktake_@(qDrugCode)_done" class="w3-right" value="結束" />
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>錯誤</td>
                <td colspan="3" style="color:red;">@(Model.InvalidMsg)</td>
            </tr>
        }

        @for (int i = 0; i < Model.bills.Count; i++)
        {
            <tr>
                <td colspan="2">領藥：@(Model.bills[i].PrscptNo)</td>
                <td>
                    病歷：@(Model.bills[i].PatientNo)
                    @if (!string.IsNullOrEmpty(Model.bills[i].PatientName))
                    {
                        @Html.Raw($"({Model.bills[i].PatientName})")
                    }
                    @if (!string.IsNullOrEmpty(Model.bills[i].msg))
                    {
                        @Html.Raw($" <span style='color:red;font-size:0.8em;'> ＊{Model.bills[i].msg}＊</span>")
                    }
                </td>
                <td>
                    <input type="button" class="w3-right red CancelBtn" value="✘" onclick="cancelBill(@(i))" />
                </td>
            </tr>
        }


    </table>
</div>

<script>
    AllDatas = @Html.Raw(JsonConvert.SerializeObject(Model));
    var stBill_@(qDrugCode) = @Html.Raw(JsonConvert.SerializeObject(Model.stockBill));
    $(document).ready(function () {
        let DrugStockList = @Html.Raw(JsonConvert.SerializeObject(Model.drGridinfo));
        let qDrugCode = '@(qDrugCode)';
        let SelectedDrawer = null; //set by step2
        let FinialStock = 0; //set by step2
        let ChkStockTackTimes = 0; //use by step3
        //關閉按鈕
        $("#@(qDrugCode)_close").click(function () {
            if ("@(Model.isValid)" == "False") {
                DeleteTask("@(qDrugCode)"); return;
            }
            else {
                confirmWin("操作未完成，確定取消？", (confirmed) => {
                    if (confirmed) { DeleteTask("@(qDrugCode)"); };
                })
            }
        })
        //開櫃
        $("#@(qDrugCode)_OpenLedColor").click(function () {
            SetState("@(qDrugCode)", "0");
        })

        //步驟一 選倉位
        $("#@(qDrugCode)_step1 .BtnStorage:not(.NotEnough)").each(function (index) {
            $(this).on("click", function () {
                //取得所選的櫃位資訊,給要存檔的stockBill,和主頁的佇列DrugTaskQu
                let sDrawFid = $(this).attr("DrawFid");
                SelectingDrawer(qDrugCode, sDrawFid);
                stBill_@(qDrugCode).DrawFid = sDrawFid;

                //提供櫃位資訊給下個介面
                SelectedDrawer = DrugStockList.find(x => x.DrawFid == sDrawFid); //選到的藥櫃
                $("#@(qDrugCode)_step2_BoxName").text(SelectedDrawer.DrawerNo + "號");
                $("#@(qDrugCode)_step3_BoxName").text(SelectedDrawer.DrawerNo + "號");
                $("#@(qDrugCode)_step1").hide(1000);
                $("#@(qDrugCode)_step0").html("<p style='color:red;font-size:20px;'>安排中,請稍等...</p>").show();

                //已開門,禁輸入
                $(".InputArea .scantext").hide();
                $(".InputArea .ScanActiveBtn").hide();
                $(".InputArea .btnbox").hide();

                //提醒超過一日服用量
                let DailyTake = @(Model.bills[Model.bills.Count - 1].DailyTake ?? 0);
                if (SelectedDrawer.DailyMaxTake && DailyTake > 0 && DailyTake > SelectedDrawer.DailyMaxTake) {
                    AlertWin("提醒！藥單號[@(Model.bills[Model.bills.Count - 1].PrscptNo)]的服用量超過一日最高劑量")
                }

                //打開批號輸入欄
                let queryBatchFid = SelectedDrawer.FID;
                $("#BatchNoBox").load("@Url.Action("BatchNoInputer", "FrontLoad")?DrugGridFid=" + queryBatchFid, function () {
                    $("#takeqty_@(qDrugCode)_done").show();
                });
            })
        });

        //步驟二 完成異動量
        $("#takeqty_@(qDrugCode)_done").click(function () {
            $("#takeqty_@(qDrugCode)_done").attr('disabled', true);
            //判斷批號 只有出,所以只判斷 BatchNoPicker
            let qBatchNoPicker = $("#BatchNoPicker").length > 0 ? $("#BatchNoPicker").val() : null; //出
            let qBatchNo = null; //入
            let qExpireDate = null; //入

            if (SelectedDrawer.BatchActive) {
                let error = false;
                if ($("#BatchNoPicker").length > 0 && qBatchNoPicker == "") { blinking("#BatchNoPicker"); AlertWin("請選擇批號！"); error = true; }
                if (error) { $("#takeqty_@(qDrugCode)_done").attr('disabled', false); return; }
            }
            if (($("#BatchNoPicker").length > 0 && qBatchNoPicker != "")) {
                stBill_@(qDrugCode).BatchNo = qBatchNoPicker;
            }

            //判斷數量
            let takeqty = parseFloat($("#takeqty_@(qDrugCode)").val()); //實取量
            let targetq = parseFloat('@(Model.stockBill.TargetQty)'); //目標量
            let nextstep = takeqty == targetq;
            if (nextstep) {
                stBill_@(qDrugCode).Qty = takeqty; //存值
                FinialStock = SelectedDrawer.StockQty - takeqty;
                stBill_@(qDrugCode).SysChkQty = FinialStock;
                stBill_@(qDrugCode).TakeType = SelectedDrawer.StockTakeType;

                if (SelectedDrawer.StockTakeType != "" && SelectedDrawer.StockTakeType) { //是否有下一步
                    $("#@(qDrugCode)_step2").hide();
                    $("#@(qDrugCode)_step3").show();
                    if (SelectedDrawer.StockTakeType == "1") { $("#stocktake_@(qDrugCode)").val(FinialStock); }//明盤
                }
                else { //結束
                    $("#@(qDrugCode)_step2").hide();
                    $("#@(qDrugCode)_step0 p").html("<p style='color:red;font-size:20px;'>存檔中...</p>").show();
                    AllDatas.stockBill = stBill_@(qDrugCode);
                    SaveStoreBillAndDone();
                }
            }
            else { //數量不對
                blinkfocus("#takeqty_@(qDrugCode)");
                AlertWin("藥品[@(qDrugCode)] 實際取藥量錯誤！");
                $("#takeqty_@(qDrugCode)_done").attr('disabled', false);
            }
        })

        //步驟三 完成盤點
        $("#stocktake_@(qDrugCode)_done").click(function () {
            $("#takeqty_@(qDrugCode)_done").attr('disabled', true);
            if ($("#stocktake_@(qDrugCode)").val() == "") {
                AlertWin("請輸入盤點數量！");
                $("#takeqty_@(qDrugCode)_done").attr('disabled', false);
                return;
            }
            ChkStockTackTimes++;
            if (ChkStockTackTimes == 1) {stBill_@(qDrugCode).UserChk1Qty = $("#stocktake_@(qDrugCode)").val(); }
            if (ChkStockTackTimes == 2) {stBill_@(qDrugCode).UserChk2Qty = $("#stocktake_@(qDrugCode)").val(); }
            if ($("#stocktake_@(qDrugCode)").val() != FinialStock && ChkStockTackTimes < 2) {
                blinkfocus("#stocktake_@(qDrugCode)");
                AlertWin("藥品[@(qDrugCode)] 盤點數量錯誤，請再盤一次！");
                $("#stocktake_@(qDrugCode)").val("");
                $("#takeqty_@(qDrugCode)_done").attr('disabled', false);
                return;
            }
            if ($("#stocktake_@(qDrugCode)").val() != FinialStock && ChkStockTackTimes >= 2) {
                $("#stocktake_@(qDrugCode)").addClass("InputAlertFocus");
                AlertWin("藥品[@(qDrugCode)] 盤點數量錯誤，將紀錄存檔！");
            }

            //存檔StoreBill並結束
            $("#@(qDrugCode)_step3").hide();
            $("#@(qDrugCode)_step0").html("<p style='color:red;font-size:20px;'>存檔中...</p>").show();
            AllDatas.stockBill = stBill_@(qDrugCode);
            SaveStoreBillAndDone();
        })

        //包裝盤點
        $("#stocktake_@(qDrugCode)_package").click(function () {
            $("#overlay-content-text").load("@Url.Action("PackageCounter","FrontLoad", new { qDrugCode = Model.DrugCode })");
            OpenAlertWin();
        });

        //Cancel鈕
        $(".CancelBtn").click(function () {
            $(this).hide();
            $("#@(qDrugCode)_step1").hide();
            $("#@(qDrugCode)_step2").hide();
            $("#@(qDrugCode)_step3").hide();
            $("#@(qDrugCode)_step0").html("<p style='color:red;font-size:24px;'>關閉中，２秒後自動關閉！</p>").show();
        })
    });

</script>
