@model List<TpePrmcyWms.Models.Unit.Back.MenuTree>
@using Newtonsoft.Json;
@using TpePrmcyWms.Models.DOM
@using TpePrmcyWms.Models.Unit.Back
@{
    Layout = null;
    List<Cabinet> Cbnts = (List<Cabinet>)ViewBag.Cbnts;
    List<UserCbntFnAuth> userAuth = (List<UserCbntFnAuth>)ViewBag.UserAuth;
    employee emp = (employee)ViewBag.EmpInfo;
    List<MenuTree> frontTree = Model.Where(x => x.System == "FRONTEND").ToList();
    List<MenuTree> backTree = Model.Where(x => x.System == "BACKEND").ToList();
    int cbntwidth = 5;
    string colwidth = Math.Round((double)((100 - cbntwidth) / frontTree.Count), 0).ToString();
}
<script>
    $(document).ready(function () {

        //後台,樹狀目錄 展開合起
        $(".TreeCol_Head:not(.aChild)").click(function () {
            let selectedid = $(this).attr("id");            
            if ($(".Lv" + selectedid).is(":visible")) {
                $(".Lv" + selectedid).hide();
                $(this).text("▼");
            }
            else {
                $(".Lv" + selectedid).show();
                $(this).text("▲");
            }
        })
        //後台,第二層目錄勾選(直向), 勾選下層全部
        $(".TreeRow_Lv1 input:checkbox").click(function () {
            let selectedid = $(this).attr("id");
            let ischecked = $(this).is(':checked');
            console.log(selectedid + ischecked);

            $(".TreeRow_Lv2 input:checkbox." + selectedid).prop('checked', ischecked);
        })
        

        //前台,勾功能列
        $(".ListPage_TablePanel #FnChkAll").click(function(){
            let selectedfn = $(this).val();
            let ischecked = $(this).is(':checked');
            //console.log(selectedfn + ischecked);
            $(".ListPage_TablePanel #FnChk" + selectedfn).prop('checked', ischecked);
        })
        $(".ListPage_TablePanel #CbntChkAll").click(function () {
            let selectedfn = $(this).val();
            let ischecked = $(this).is(':checked');
            //console.log(selectedfn + ischecked);
            $(".ListPage_TablePanel .CbntChk" + selectedfn).prop('checked', ischecked);
        })
        $(".ListPage_TablePanel td").hover(function () {
            $(this).parents('table').find('col:eq(' + $(this).index() + ')').toggleClass('hover');
        });

        

    });
    
</script>
<style>
    
    .ListPage_TablePanel .TreeFrame table, .ListPage_TablePanel .TreeFrame td, .ListPage_TablePanel .TreeFrame th {
        border: 1px solid gray;
        border-collapse: collapse;
    }

    .ListPage_TablePanel .TreeFrame th {
        vertical-align: bottom;
        background-color: #ccccaa;
    }

    .ListPage_TablePanel .TreeFrame td{
        vertical-align: middle;
    }

        .ListPage_TablePanel .TreeFrame tr:hover{
        background-color: #eeeebb;
        }

    .ListPage_TablePanel col.hover {
        background-color: #eeeebb;
    }

    .ListPage_TablePanel .TreeFrame td:first-child {
        background-color: #ddddab;
    }

    .ListPage_TablePanel .TreeFrame input[type=checkbox] {
        width: 24px;
        height: 24px;
    }        

    .ListPage_ListPanel .TreeFrame {
        display: inline-block;
        word-wrap: break-word;
        width: 40%;
        font-size: 1.2em;
    }

        .ListPage_ListPanel .TreeFrame .TreeRow {
            display: inline-block;
            border-top: 1px dashed gray;
            border-bottom: 1px dashed gray;
            width: 100%;
            padding: 4px 10px;
            background-color: #eeeebb;
            margin-bottom: -5px;
        }

        .ListPage_ListPanel .TreeFrame .TreeRow_Lv0 {
            background-color: #ccccaa;
            font-weight: bold;
        }

            .ListPage_ListPanel .TreeFrame .TreeRow_Lv0 .TreeCol_Head {
                width: 30px;
            }

        .ListPage_ListPanel .TreeFrame .TreeRow_Lv1 {
            background-color: #ddddab;
        }

            .ListPage_ListPanel .TreeFrame .TreeRow_Lv1 .TreeCol_Head {
                width: 60px;
            }

        .ListPage_ListPanel .TreeFrame .TreeCol {
            display: inline-block;
            word-wrap: break-word;
            float: left;
        }

        .ListPage_ListPanel .TreeFrame .TreeCol_Head {
            width: 90px;
            text-align: right;
            padding-right: 8px;
            font-weight: bold;
            cursor: pointer;
        }

        .ListPage_ListPanel .TreeFrame .TreeCol_Title {
            max-width: 60%;
        }

        .ListPage_ListPanel .TreeFrame .TreeCol_Opt {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            text-align: right;
            width: 20%;
            float: right;
        }

            .ListPage_ListPanel .TreeFrame .TreeCol_Opt input {
                margin-right: 4%;
                width: 1.5rem;
                height: 1.5rem;
            }

    .ListPage_ListPanel .TreeTitle {
        font-size: 30pt;
        color: #990000;
        height: 36px;
    }

    .dontdisplay {
        display: none;
    }
</style>

<div id="CancelEdit" onclick="CancelEdit()">✘</div>
<h4>@(emp.name) - 權限設定</h4>

<form name="form1" id="form1" asp-action="ListAuthEdit">
    <div class="ListPage_TablePanel">
        <input type="hidden" name="fid" id="fid" value="@emp.FID" />
        
        <div class="">
            <div class="TreeFrame">
                <table>
                    @for (int i = 0; i < frontTree.Count(); i++)
                    {
                        <col />
                    }
                    <tr>
                        <th rowspan="2" width="@(cbntwidth)%">@(Cbnts[0].CbntName.Substring(0, 4))藥櫃</th>
                        @for (int i = 0; i < frontTree.Count(); i++)
                        {
                            int HeadCnt = frontTree.Where(x => x.L1Name == frontTree[i].L1Name).Count();
                            string SpanString = HeadCnt > 1 ? $"colspan={HeadCnt}" : "";
                            i += HeadCnt - 1;
                            <th @(SpanString)>@(frontTree[i].L1Name)</th>
                        }
                    </tr>
                    <tr>
                        @for (int i = 0; i < frontTree.Count(); i++)
                        {
                            <th width="@(colwidth)%" height="110px">
                                @(frontTree[i].L2Name)
                                <br>
                                <input type="checkbox" id="FnChkAll" style="width:20px;height:20px;" value="@(frontTree[i].L2fid)" />
                            </th>
                        }
                    </tr>

                    @for (int i = 0; i < Cbnts.Count(); i++)
                    {
                        <tr>
                            <td>@(Cbnts[i].CbntName.Substring(4))
                                <input type="checkbox" id="CbntChkAll" style="width:20px;height:20px;" value="@(Cbnts[i].FID)" />
                            </td>
                            @for (int j = 0; j < frontTree.Count(); j++)
                            {
                                string checkit = userAuth.Where(x => x.CbntFid == Cbnts[i].FID && x.MnLFid == frontTree[j].L2fid).FirstOrDefault()?.Active ?? false ? "checked" : "";

                                <td>
                                    <input type="checkbox" class="CbntChk@(Cbnts[i].FID)" id="FnChk@(frontTree[j].L2fid)" name="FnChk" value="@(Cbnts[i].FID),@(frontTree[j].L2fid)" @Html.Raw(checkit) />
                                </td>
                            }
                        </tr>
                    }

                </table>
                

            </div>
        </div>


    </div>
    <hr />
    <div class="ListPage_ListPanel">        
        <div class="">
            <div class="TreeFrame">
                @{
                    int MtFid = 0, L1Fid = 0;
                }
                @foreach (MenuTree tree in backTree)
                {
                    //使用者紀錄
                    
                    string SystemName = "後台";

                    //第一層 上方頁籤
                    if (MtFid != tree.MtFid)
                    {
                        MtFid = tree.MtFid;
                        <div class="TreeRow TreeRow_Lv0">
                            <div class="TreeCol TreeCol_Head" id="Mt@(tree.MtFid)">▲</div>
                            <div class="TreeCol TreeCol_Title"> @(tree.MtName) (@(SystemName))</div>
                            <div class="TreeCol TreeCol_Opt">
                            </div>
                        </div>
                    }

                    //第二層 左邊目錄
                    if (L1Fid != tree.L1fid && tree.L1fid != 0)
                    {
                        L1Fid = tree.L1fid;
                        <div class="TreeRow TreeRow_Lv1 LvMt@(MtFid)">
                            <div class="TreeCol TreeCol_Head" id="@(tree.L1fid)">▲</div>
                            <div class="TreeCol TreeCol_Title"> @(tree.L1Name)</div>
                            <div class="TreeCol TreeCol_Opt">
                                <input type="checkbox" id="Q@(tree.L1fid)" name="FnChk" value="0,@(tree.L1fid)" RowAll" />
                                
                            </div>
                        </div>
                    }

                    //第三層 左邊目錄 可能到第二層就結束了
                    if (tree.L2fid != 0)
                    {
                        string checkit = userAuth.Where(x => x.CbntFid == 0 && x.MnLFid == tree.L2fid).FirstOrDefault()?.Active ?? false ? "checked" : "";
                        <div class="TreeRow TreeRow_Lv2 LvMt@(MtFid) Lv@(L1Fid)">
                            <div class="TreeCol TreeCol_Head aChild" id="@(tree.L2fid)">＞</div>
                            <div class="TreeCol TreeCol_Title">@(tree.L2Name)</div>
                            <div class="TreeCol TreeCol_Opt">
                                <input type="checkbox" id="Q@(tree.L2fid)" name="FnChk" value="0,@(tree.L2fid)" class="Q@(tree.L1fid)" @Html.Raw(checkit) />

                            </div>
                        </div>
                    }

                }

            </div>
        </div>


    </div>
</form>
<div class="ListCtrlPanel">
    <input type="button" onclick="goSubmit()" value="確認" />
</div>

<script>
    //送出鈕
    function goSubmit() {        
        SubmitFormModel("@Url.Action("ListUserCbntFnAuthEdit")", null, function () {
            CancelEdit();
        });
    }
    //取消鈕
    function CancelEdit() {
        $(".ListPage_EditArea").hide();
        $(".ListPage_QueryArea").show();
    }
</script>