@using TpePrmcyWms.Models.Service;
@model TpePrmcyWms.Models.Unit.Front.StockBill_Prscpt;
@using Newtonsoft.Json;
@{
    //F;A0001;1130501;OGLUC4;Glucophage 500mg TAB (Metformin);0;10110001;K01063;1;領藥一;5;支;開藥人;0;1;1;1
}

<script src="~/js/CbntSensorCommunicator.js"></script>


<div class="MainFrame">
    <div class="InputArea">        
        <div class="form-group">
            <label asp-for="PatientNo" class="control-label"></label>
            <input asp-for="PatientNo" class="form-control scantext" />
        </div>
        <div class="form-group">
            <label asp-for="PatientSeq" class="control-label">住院序號/床號/出院日期</label>
            <select asp-for="PatientSeq" class="form-control"></select>
        </div>
        <div class="form-group">
            <label asp-for="ReturnSheet" class="control-label"></label>
            <input asp-for="ReturnSheet" class="form-control scantext" />
        </div>
        <div class="form-group">
            <label asp-for="DrugName" class="control-label"></label>
            <input asp-for="DrugName" list="DrugNameList" />
            <datalist id="DrugNameList"> </datalist>
        </div>
        <div class="form-group">
            <label asp-for="TargetQty" class="control-label"></label>
            <input asp-for="TargetQty" class="form-control w3-right-align" onkeyup="this.value=this.value.replace(/\D/g,'').substring(this.value.length-5)" value="0" />
        </div>
        <div class="form-group btnbox">
            <input type="button" onclick="AddingTask('manu')" value="送出" />
        </div>

    </div>

    <div class="TaskArea" id="TaskArea"> </div>

</div>



<script>
    var BillModel = @Html.Raw(JsonConvert.SerializeObject(Model)); //新增用
    //#region 感應器回傳的介面更新
    //只能用Cmutr,因固定寫在js
    var Cmutr = new CbntSensorCommunicator();
    Cmutr.UpdateCallBack = function (re) {
        //console.log(JSON.stringify(re))
        //確認是否存在,不在就先刪了
        if (!$("#task_" + re.drugCode).length) {
            HideTask(re.drugCode);
        }

        //磅秤更新
        if (re.ssrQty && re.ssrState != "2" && re.oprState != "2") {
            $("#takeqty_" + re.drugCode).val(re.ssrQty);
            $("#takeqty_" + re.drugCode).addClass("greenScanning");
            setTimeout(function () { $("#takeqty_" + re.drugCode).stop(true, false).removeClass("greenScanning"); }, 600);
        }
        //門狀態更新
        switch (re.ssrState) {
            case "1":
                $("#" + re.drugCode + "_close").hide();
                $("#" + re.drugCode + "_doorOpen").show();
                break;
            case "2":
                $("#" + re.drugCode + "_close").hide();
                $("#" + re.drugCode + "_doorOpen").hide();
        }
        if (re.ssrState != "0" && re.oprState != "0") {
            $("#takeqty_" + re.drugCode + "_done").show();
        }
        //LED
        if (re.ledColor != "") {
            $("#task_" + re.drugCode + " .OperDrugInStoreArea").addClass("TaskColor_" + re.ledColor);
            $("#" + re.drugCode + "_OpenLedColor").css("background-color", re.ledColor).css("color", "white");
        }
        //已開門
        if (re.ssrState == "1" && re.oprState == "0") {
            SetState(re.drugCode, "1");
            $("#" + re.drugCode + "_step0").hide(1000);
            $("#" + re.drugCode + "_step2").show();
        }
    }
    Cmutr.DeleteCallBack = function (drugCode) {
        $("#" + drugCode + "_step1").hide();
        $("#" + drugCode + "_step2").hide();
        $("#" + drugCode + "_step0").html("<p style='color:red;font-size:24px;'>工作已完成，２秒後自動關閉！</p>").show();
        setTimeout(function () {
            $("#task_" + drugCode).remove();
            location.reload();
        }, 2000);
    }
    Cmutr.AddQuReact = function (re) {
        if ($("#" + re.DrugCode + "_step1").length == 0) { return; }
        if (re.returnresult) { $("#" + re.DrugCode + "_step0").hide(); $("#" + re.DrugCode + "_step1").show(); }
        else { $("#" + re.DrugCode + "_step0").html("<p style='color:red;font-size:24px;'>新增失敗</p>"); }
    }
    //#endregion

    Cmutr.Running();

    //#region 輸入介面控制
    $("#PatientNo").bind('keypress', function (e) {
        var code = e.keyCode || e.which;
        if (code == 13 && $("#PatientNo").val().length == 8) {
            BillModel.PatientNo = $("#PatientNo").val();
            $("#PatientSeq").load("@Url.Action("ReturnSheet_PrscptNo","FrontLoad")"
                , { vobj: BillModel }
                , function () { 
                    let cnt = $("#PatientSeq option").length;
                    if (cnt == 1 && $("#PatientSeq").val() == "") { document.getElementById("PatientNo").focus(); }
                    if (cnt == 1 && $("#PatientSeq").val() != "") { document.getElementById("ReturnSheet").focus(); }
                    if (cnt > 1 && $("#PatientSeq").val() != "") { document.getElementById("PatientSeq").focus(); }
                }
            )
        }
    });
    $("#ReturnSheet").bind('keypress', function (e) {
        var code = e.keyCode || e.which;
        if (code == 13 && $("#ReturnSheet").val().length == 13) {
            BillModel.ReturnSheet = $("#ReturnSheet").val();
            let PatientSeq_ary = $("#PatientSeq").val().split('/');
            BillModel.PatientSeq = PatientSeq_ary[0];
            BillModel.BedCode = PatientSeq_ary[1];
            $("#DrugNameList").load("@Url.Action("ReturnSheet_ReturnSheet","FrontLoad")"
                , { vobj: BillModel }
                , function () { }
            )
        }
    });    
    $("#DrugName").on('input', function () {
        var val = this.value;
        if ($('#DrugNameList option').filter(function () {
            return this.value.toUpperCase() === val.toUpperCase();
        }).length) {
            BillModel.DrugCode = this.value.split('，')[0];
            BillModel.DrugName = this.value.split('，')[1];
            BillModel.PrscptNo = this.value.split('，')[2];
            document.getElementById("DrugName").focus();
        }
    });
    //#endregion

    $(document).ready(function () {
        $("#PatientNo").focus();
        $("input[list]").dblclick(function () {
            $(this).val('');
        });
    });

    //#region 新增StockBill並加入排程
    function AddingTask(calltype) {
        let qDrugCode = "";
        if (calltype == "manu") { //手動輸入
            let qDrugName = $("#DrugName").val()
            let qTargetQty = $("#TargetQty").val()
            if (qDrugName.split('，').length < 2) { AlertWin("輸入格式錯誤！"); return; }
            if (qTargetQty == "" || qTargetQty < 1) { AlertWin("請輸入藥單數量！"); blinking("#TargetQty"); return; }
            qDrugCode = qDrugName.split('，')[0];
            BillModel.TargetQty = qTargetQty;
            BillModel.Qty = qTargetQty;
            BillModel.Scantext = ";" + BillModel.PrscptNo + ";;" + BillModel.DrugCode + ";" + BillModel.DrugName + ";;" + BillModel.PatientNo + ";" + BillModel.PatientSeq + ";;;" + qTargetQty + ";;;" + BillModel.BedCode + ";;;";
        }
        //console.log(JSON.stringify(BillModel))

        //判斷是否需轉替代藥碼
        let goPost = new AjaxJsonPostor("@Url.Action("FindReplaceDrugCode","FrontApi")", qDrugCode);
        goPost.SuccessCallback = function (result) {
            if (result.code == 0) {
                let finalDrugCode = result.returnData != "" ? result.returnData : qDrugCode; //確認最終藥碼

                //#region 以下為原始行程
                //判斷排程數量
                if (Cmutr.QuHadDrug.length > 0) { AlertWin("排程執行中，請稍後！"); return; }

                //Load資訊並呈現排程
                $("#TaskArea").prepend("<div class=\'taskbox\' id=\'task_" + finalDrugCode + "\'>Loading..." + finalDrugCode + "</div>");
                $("#task_" + finalDrugCode).load("@Url.Action("DrawerTask_RTS","FrontLoad")"
                    , { vobj: BillModel }
                    , function () { Cmutr.AddQu(finalDrugCode, "@(Model.BillType)"); }
                )
                //#endregion
            }
            else { AlertWin(result.returnData); }
        }
        goPost.ErrorCallback = function () {
            AlertWin("送出替代藥碼查詢時發生錯誤");
        }
        goPost.Post();
                
    }
    //#endregion

    //#region 子介面呼叫 客製    
    function SaveStoreBillAndDone(obj) {
        console.log("upQu=" + JSON.stringify(obj))
        let goPost = new AjaxJsonPostor("@Url.Action("StockBillSave","FrontApi")", obj);
        goPost.SuccessCallback = function (result) {
            if (result.code == 0) {
                let upQu = { "DrugCode": obj.DrugCode, "DrawFid": obj.DrawFid, "oprState": "2", "stockBillFid": result.returnData }
                console.log("upQu=" + JSON.stringify(upQu))
                Cmutr.SetState(upQu);
            }
            else { AlertWin(result.returnData); }
        }
        goPost.Post();
    }
    
    //#endregion


</script>