@using TpePrmcyWms.Models.Service;
@using TpePrmcyWms.Models.DOM;
@model StockBill;
@using Newtonsoft.Json;
@{
    List<vParamOptions> DropParamList = ViewFunc.vParamSelect(new List<string>() { "VaxTmPrd", "TpeDist" });
    List<VaxSkd> VaxList = ViewBag.VaxList;
}

<script src="~/js/CbntSensorCommunicator.js"></script>



<div class="MainFrame">
    <div class="InputArea Full hasQryMstDtl">
        <div class="Full_Query">
            <label for="KeyQuery" class="control-label"></label>
            <input id="KeyQuery" class="form-control" style="width:60%;" onkeyup="querylist(this.value)" placeholder="關鍵字查詢" />
            <span id="recCnts"></span>            
        </div>

        <div class="Full_List Master">
            @foreach (var item in VaxList)
            {
                <div class="ListCard" key="@(item.FID)" keyword="@(item.VaxSkdTitle)">
                    <table style="width:100%;">
                        <tr>                            
                            <td align="left" width="160px">
                                @(item.VaxDate.ToString("yy-MM-dd"))
                                @(DropParamList.Where(x => x.Group == "VaxTmPrd" && x.Value == item.VaxTimePeriod).FirstOrDefault()?.Text ?? "")
                            </td>
                            <td align="left" width="90px">
                                @(DropParamList.Where(x => x.Group == "TpeDist" && x.Value == item.VaxDist).FirstOrDefault()?.Text ?? "")
                            </td>
                            <td align="left">@(item.VaxSkdTitle)</td>                            
                        </tr>
                    </table>
                </div>
            }
        </div>
        <div class="Full_List Detail">
        </div>

        <div class="TaskArea Full Hidden" id="TaskArea"> </div>
    </div>



</div>



<script>
    var BillModel = @Html.Raw(JsonConvert.SerializeObject(Model));
    var DrawerTaskConfig = { //開櫃子視窗的客製化設定
        skipStep1: false, //自動按第一個櫃格
        skipStep1When1: true, //只有一個格子,自動按下
        hideBtnStorage: true, //不用呈現藥格
        canLessThenTarget: true, //可少於目標量,分次
        canLessThenTarget_confirm: "", //可少於目標量,分次的確認訊息
        ignrStockQty: false, //有勾不扣庫存
    }

    //#region 感應器回傳的介面更新
    //只能用Cmutr,因固定寫在js
    var Cmutr = new CbntSensorCommunicator();
    Cmutr.UpdateCallBack = function (re) {
        //console.log(JSON.stringify(re))
        //確認是否存在,不在就先刪了
        if (!$("#task_" + re.drugCode).length) {
            HideTask(re.drugCode);
        }

        //磅秤更新
        if (re.ssrQty && re.ssrState != "2" && re.oprState != "2") {
            $("#takeqty_" + re.drugCode).val(re.ssrQty);
            $("#takeqty_" + re.drugCode).addClass("greenScanning");
            setTimeout(function () { $("#takeqty_" + re.drugCode).stop(true, false).removeClass("greenScanning"); }, 600);
        }
        //門狀態更新
        switch (re.ssrState) {
            case "1":
                if(re.oprState=="D"){
                    $("#" + drugCode + "_step1").hide();
                    $("#" + drugCode + "_step2").hide();
                    $("#" + drugCode + "_step3").hide();
                    $("#" + drugCode + "_step0").html("<p style='color:red;font-size:24px;'>等待關門中...</p>").show();
                }
                break;   
        }
        if (re.ssrState != "0" && re.oprState != "0") {
            $("#takeqty_" + re.drugCode + "_done").show();
        }
        //LED
        if (re.ledColor != "") {
            $("#task_" + re.drugCode + " .OperDrugInStoreArea").addClass("TaskColor_" + re.ledColor);
            $("#" + re.drugCode + "_OpenLedColor").css("background-color", re.ledColor).css("color", "white");
        }
        //已開門
        if (re.ssrState == "1" && re.oprState == "0") {
            SetState(re.drugCode, "1");
            $("#" + re.drugCode + "_step0").hide(1000);
            
            //不須輸入數量,直接下一步
            $("#" + re.drugCode + "_step2").show();
            //$("#takeqty_" + re.drugCode + "_done").click();
        }
    }
    Cmutr.DeleteCallBack = function (drugCode) {
        $("#" + drugCode + "_step1").hide();
        $("#" + drugCode + "_step2").hide();
        $("#" + drugCode + "_step0").html("<p style='color:red;font-size:24px;'>工作已完成，２秒後自動關閉！</p>").show();
        setTimeout(function () {
            $("#task_" + drugCode).remove();
            $("#TaskArea").hide();
            $(".InputArea").removeClass("one").addClass("hasQryMstDtl");
            $(".Full_Query").show();
            $(".Full_List").show();
            $(".Full_List.Master .ListCard.selected").click();
            
        }, 2000);
    }
    Cmutr.AddQuReact = function (re) {
        if ($("#" + re.DrugCode + "_step1").length == 0) { return; }
        if (re.returnresult) { $("#" + re.DrugCode + "_step0").hide(); $("#" + re.DrugCode + "_step1").show(); }
        else { $("#" + re.DrugCode + "_step0").html("<p style='color:red;font-size:24px;'>新增失敗</p>"); }
    }
    //#endregion

    Cmutr.Running();    


    $(document).ready(function () {
        $(".Full_List.Master .ListCard").click(function () {
            $(".selected").removeClass("selected");
            $(".td_adddtl").hide();
            $(this).find(".td_adddtl").show();
            $(this).addClass("selected");

            let key = $(this).attr("key");
            $(".Full_List.Detail").load("@Url.Action("VaxStockDtl","FrontLoad")"
                , { fid: key }
                , function () { }
            )
        })
    });

    //#region 新增StockBill並加入排程
    function AddingTask(key) {
        $(".Full_Query").hide();
        $(".Full_List").hide();
        $(".InputArea").removeClass("hasQryMstDtl").addClass("one");

        let qDrugCode = BillModel.DrugCode;
        //console.log(JSON.stringify(BillModel))

        //Load資訊並呈現排程
        if (Cmutr.QuHadDrug.length == 0){    
            $("#TaskArea").show();
            $("#TaskArea").prepend("<div class=\'taskbox\' id=\'task_" + qDrugCode + "\'>Loading..." + qDrugCode + "</div>");            
        }
           
        $("#task_" + qDrugCode).load("@Url.Action("DrawerTask","FrontLoad")"
            , { vobj: BillModel }
            , function () { Cmutr.AddQu(qDrugCode, BillModel.BillType); }
        )
        
    }
    //#endregion

    //#region 子介面呼叫 客製
    function SaveStoreBillAndDone(obj) {
        let goPost = new AjaxJsonPostor("@Url.Action("StockBillSave","FrontApi")", obj);
        goPost.SuccessCallback = function (result) {
            if (result.code == 0) {
                //console.log("return result=" + JSON.stringify(result))
                let upQu = { "DrugCode": obj.DrugCode, "DrawFid": obj.DrawFid, "oprState": "2", "stockBillFid": result.returnData }
                console.log("save upQu=" + JSON.stringify(upQu))
                Cmutr.SetState(upQu);
            }
        }
        goPost.Post();
    }
    
    //#endregion
    //#region 明細子窗視呼叫
    function querylist(qry) {
        let showcnt = 0;
        $(".ListCard").each(function () {
            if ($(this).attr("keyword").toString().toUpperCase().indexOf(qry.toUpperCase()) < 0) { $(this).hide(); }
            else { $(this).show(); showcnt++; }
        });
        $("#recCnts").text(showcnt + "筆");
    }

    function DtlEditing(key) {
        $("#overlay-content-text").load("@Url.Action("VaxStocking","FrontLoad")"
            , { fid: key, VaxSkdFid: $(".Full_List.Master .ListCard.selected").attr("key") }
            , function () { OpenAlertWin(); }
        )
    }    
    function DtlStockIn(DtlObj) {
        BillModel.DrugCode = DtlObj.DrugName.split("，")[0];
        BillModel.FromFid = DtlObj.FID;
        AlertWinClose();
        AddingTask(DtlObj.FID)
    }
    //#endregion

</script>